<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Vue.js Example 00</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <style>
        #app {
            margin-left: 100px;
            margin-top: 100px;
        }
    </style>

</head>

<body>
    <div id="app">
        <ol>
            <!-- v-if 必須跟 v-for 同層, 否則會產生 v-for 一個空的東西出來的問題 -->
            <li v-for="user in users" v-if=user.visable>
                {{ user.name }}
            </li>
        </ol>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                users: [
                    { name: "AndrewChen", visable: true },
                    { name: "陳柏安", visable: true },
                    { name: "冰箱熊", visable: false },
                ]
            }
        })
        // 3s後發生
        setTimeout(function(){
            var user = { name: "柴柴", visable: true };
            app.users.push(user);
        }, 3000); 
    </script>
</body>

</html>