<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Vue.js Example 04</title>

    <script src="https://unpkg.com/vue/dist/vue.js">
    </script>

</head>

<body>
    <div id="app">
        <input type="text" v-model="title">
        <br>
        {{ title }}
        <br>
        <br>
        <br>
        <button v-on:click="del">刪除這這個 Vue 物件的事件綁定</button>

        <br>
        <br>

        <!-- v-if 的更新只會觸發 update 的兩個 hook，並不會觸發 destroy -->
        <div v-if='visable'>我三秒後會消失</div>

    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data : {
                title: '123',
                visable : true,
            },
            // 生命週期, 在這個 DOM 的某些生命週期中, Vue.js 提供了對應的 Function 可以 hook
            beforeCreate : function() {
                // 在整個 Vue 物件初始化之前, this.title 為 undefined
                console.log('DOM #app beforeCreate', this.title)
            },
            created : function() {
                // 建立完成
                console.log('DOM #app created', this.title)
            },
            beforeMount : function() {
                // 在將 vue 物件與 DOM 綁定之前
                // 如果還沒有指定 this.$el 的話, 就不會啟動以下的 hook 了，因為沒有 mount 這個動作
                console.log('DOM #app beforeMount', this.title)
            },
            mounted : function() {
                // 綁定之後
                console.log('DOM #app mounted', this.title)
            },
            beforeUpdate : function() {
                // 當資料改變, view 要更新之前
                // 儘管是 beforeUpdate, 但事實上 data 已經更新了, 是 view 還沒更新
                console.log('DOM #app beforeUpdate', this.title)
            },
            updated : function() {
                // 資料更新之後
                console.log('DOM #app updated', this.title)
            },
            beforeDestroy : function() {
                // 當 this.$destory() 被呼叫時, 刪除前
                console.log('DOM #app beforeDestroy', this.title)
            },
            destroyed : function() {
                // 刪除後
                console.log('DOM #app destroyed', this.title)
            },
            methods: {
                del: function() {
                    console.log('start del function');
                    this.$destroy();
                    // destory 其實只會綁定的 event
                }
            },
        })

        setTimeout(function(){
            app.visable = false
        }, 3000);

    </script>
</body>

</html>