<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Vue.js Example 01</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <style>
        #app {
            width: 600px;
            margin-top: 100px;
            margin-left: 100px;
        }
    </style>

</head>

<body>

    <div id="app">
        <input type="text" v-model="query">
        <br>
        <container v-bind:query="query">
            {{ query }}
        </container>
    </div>

    <script>
        Vue.component('repo', {
            template: '<div>{{ id }} - {{ name }}</div>',
            props: ['id', 'name'],
        });
        //  這整個東西本身不該這樣寫
        Vue.component('container', function(resolve, reject){
            fetch('https://api.github.com/search/repositories?q=node.js')
            .then(function(response) {
                return response.text();
            }).then(function(result) {
                result = JSON.parse(result);
                resolve({
                    template: `
                    <div>
                        <hr>
                        Total Repo of {{ query }} : {{ total_count }}
                        <ul>
                            <repo v-for="repo of repos" v-bind="repo" key="repo.id"></repo>
                        </ul>
                    </div>`,
                    props: ['query'],
                    data: function() {
                        // console.log('result', result.total_count);
                        return {
                            total_count: result.total_count,
                            repos: result.items.map(function(repo) {
                                return {
                                    id: repo.id,
                                    name: repo.name,
                                };
                            }),
                        };
                    },
                });
            });
        });  

        var app = new Vue({
            el: '#app',
            data: {
                query: 'node.js',
            },
        })  
    </script>
</body>

</html>